* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
}

button {
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;

}

img {
    border-radius: 5px
}

/* Colors */

.footer, .call-container, .hero-title, .header, button {
    color: white;
}

a, .grey-text {
    color: #E5E7EB;
}

.header, .hero, .footer {
   background-color: #1F2937; 
}

.hero-right, .quote-container {
    background-color: #E5E7EB;
}

.call-container, button {
    background-color: #3882F6;
}
/* Hero Section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

.header-logo {
    margin-left: 100px;
    font-size: 20px;
}

/* Hero section */

.hero, .hero-left, .hero-right {
    display: flex;
}

.hero, .hero-left {
    justify-content: center;
}

.hero {
    align-items: center;
    min-height: 300px;
}


.hero-left {
    flex-direction: column;
    width: 400px;
    min-height: 150px;
    gap: 8px;
}

.hero-right {
    justify-content: center;
    min-height: 150px;
    width: 400px;
    align-items: center;
}

#hero-button {
    align-self: center;
    padding: 10px 30px;
    border: none;
}

/* Info Section */

.info, #info-images {
    display: flex;
    align-items: center;
}

.info {
    flex-direction: column;
    min-height: 300px;
    
}

#info-images {
    text-align: center;
    padding: 30px;

}

#info-text {
    padding-top: 30px;
}

.box {
    width: 200px;
    
}

/* Quote Section */

.quote-container, #quote {
    display: flex;
    justify-content: center;
}

.quote-container {
    align-items: center;
    height: 200px;
    
}

#quote {
    width: 475px;
    font-style: italic;
    font-size: 20px;
}

#quote-caption {
    text-align: right;
    font-weight: bold;
    padding: 5px;

}

/* Call to Action Section */

.call {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center; 
}

.call-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 120px;
    border-radius: 5px;
    padding: 0px 25px;
    
}

#call-button {
    border: 2px solid white;
    padding: 5px 15px;
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
