body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    border: 10px solid red;
    min-height: 100vh;
    
}


h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

img {
    border-radius: 5px;
}

#image-placeholder {
  text-align: center;
  align-self: center;
}

.header, .main, .quote-container, .outro, .hero, .footer {
    display: flex;
    
}

.header {
    color: white;
    background-color: #1F2937;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    
}

.hero {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    
}

.hero-text {
  max-width: 300px;
  color: white;
}

.hero-image {
    background-color: #EBE7EB;
    width: 300px;
    height: 150px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.quote {
    background-color: #EBE7EB;
    
}

.call-card {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}
  

.outro {
    justify-content: center;
    
}

.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    align-self: flex-end;
    
    

}

