body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
}