* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.grey-text {
   color: #E5E7EB; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #1F2937;
    color: white;
    
}

.header-logo {
    margin-left: 100px;
    font-size: 20px;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 300px;
}

.hero-title {
    color: white;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 400px;
    min-height: 150px;
}

.hero-right {
    display: flex;
    min-height: 150px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 193, 193)
}

#hero-button {
    align-self: center;
    padding: 10px 30px;
    border-radius: 5px;
}

/* Info Section */

.info {
    display: flex;
}