* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.grey-text {
   color: #E5E7EB; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #1F2937;
    color: white;
    
}

.header-logo {
    margin-left: 100px;
    font-size: 20px;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    min-height: 300px;
}

.hero-title {
    color: white;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    min-height: 150px;
}

.hero-right {
    display: flex;
    min-height: 150px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 193, 193)
}

#hero-button {
    align-self: center;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    border: none;
    font-weight: 700;

}

/* Info Section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    
}

img {
    border-radius: 5px
}

#info-images {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px;

}

#info-text {
    padding-top: 30px;
}

.box {
    width: 200px;
    
}

/* Quote Section */

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 200px;
}

#quote {
    display: flex;
    justify-content: center;
    width: 450px;
    border: 2px solid blue;
}

#quote-caption {
    border: 2px solid red;
    text-align: right;

}

/* Call to Action Section */

.call {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center; 
}

.call-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    width: 650px;
    height: 150px;
    border-radius: 5px;
    gap: 10px;
}

#call-button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}


/* Footer */

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
