body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 10px solid red;
    min-height: 100vh;
    
}


h1 {
    font-size: 48px;
    font-weight: 900;
}


.header, .main, .quote-container, .outro, .intro, .footer {
    display: flex;
    
}

.header {
    color: white;
    background-color: #1F2937;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    
}

.intro {
    
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    
}

.intro-text {
  width: 500px;
  color: white;
}

.intro-image {
    background-color: #EBE7EB;
    width: 300px;
    height: 150px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.quote {
    background-color: #EBE7EB;
    
}

.call-card {
    background-color: #3882F6;
    color: white;
}
  

.outro {
    justify-content: center;
    
}

.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    justify-content: center;
    
    

}

