* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

ul {
    list-style-type: none;
    display: flex;
    margin-right: 100px;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.grey-text {
   color: #E5E7EB; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    height: 50px;
    background-color: #1F2937;
    color: white;
    
}

.header-logo {
    margin-left: 100px;
    font-size: 20px;
}